<% if user_signed_in? %>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'ログイン', new_user_session_path  %></li>
  <li><%= link_to 'サインアップ', new_user_registration_path %></li>
<% end %>
<%= link_to 'ユーザー一覧', users_path %>
<h1>マイページ</h2>
<h1>スキル一覧</h2>
<%= render 'form' %>
<% @skills.each do |skill| %>
  <p><%= skill.name %></p>
  <%= render partial: 'points/point', locals: { skill: skill } %>
<% end %>
